<!-- <div class="container"  style="max-width: 100%;">
  <app-question></app-question>
</div> -->

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
        <a routerLink="ques">List</a>
        <br/>
        <a routerLink="quest">Add</a>
        <br/>
        <a routerLink="edit">Edit/Delete</a>
        <br/>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button>
        <mat-icon svgIcon="questionicon" (click)="sidenav.toggle()"></mat-icon>
        </button>
        Examen
    </mat-toolbar>
  </mat-sidenav-container> -->

  <!-- <mat-sidenav #sidenav mode="side" opened="false">
    <mat-sidenav-container>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink="ques"> Questions List </a>
        <a mat-button routerLink="quest"> Add Question </a>
        <a mat-button routerLink="edit"> Modify/Delete </a>
      </div>
    </mat-sidenav-container>
  </mat-sidenav>
<mat-toolbar>
  <mat-toolbar-row color="primary">
    <button mat-icon-button>
      <mat-icon svgIcon="questionicon" click="sidenav.toggle()">Examen</mat-icon>
    </button>
    <h1>Admin Page</h1>
  </mat-toolbar-row>
</mat-toolbar>  -->

<!-- <mat-toolbar color="primary" >
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="questionicon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="ques">
        <mat-icon svgIcon="listicon"></mat-icon>
        <span>List</span>
      </button>
      <button mat-menu-item  routerLink="quest">
        <mat-icon svgIcon="addicon"></mat-icon>
        <span>Add</span>
      </button>
      <button mat-menu-item routerLink="edit">
        <mat-icon svgIcon="deleteicon"></mat-icon>
        <span>Modify/Delete</span>
      </button>

      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button> 
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Admin Page</span>
</mat-toolbar> 

<div>
  <router-outlet></router-outlet>
</div>  -->



 <!-- <div>
    <ul class="nav nav-tabs">
        <li><a routerLink="ques">Questions</a></li>
        <li><a routerLink="quest">Add Question</a></li>
        <li><a routerLink="edit">Edit Question</a></li>
        <li><a routerLink="question">Delete Questions</a></li> 
        <li><a routerLink="**"></a></li>
    </ul>
</div>   -->
<!-- <div>
  <router-outlet></router-outlet>
</div>-->

 <!-- <mat-toolbar class="app-header">
  <span class="nav-tool-items">
    <a mat-button routerLink="ques" routerLinkActive="active">Question List</a>
    <a mat-button routerLink="edit" routerLinkActive="active">Add New Question</a>
    <a mat-button routerLink="quest" routerLinkActive="active">Edit/Delete Question</a>
    <a mat-button routerLink="question" routerLinkActive="active">Delete Question</a>
     
  </span>
</mat-toolbar>  -->



<!-- <mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="questionicon"></mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      
      

<mat-sidenav-container class = "tp-container">
   <mat-sidenav mode = "side" opened>
      <section class = "tp-section">
         <span>File</span>
      </section>
      <section class = "tp-section">
         <span>Edit</span>
      </section>
   </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content> 
</mat-sidenav-container> -->

<!-- <mat-toolbar >
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="questionicon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="ques">
        <mat-icon svgIcon="listicon"></mat-icon>
        <span>List</span>
      </button>
      <button mat-menu-item  routerLink="quest">
        <mat-icon svgIcon="addicon"></mat-icon>
        <span>Add</span>
      </button>
      <button mat-menu-item routerLink="edit">
        <mat-icon svgIcon="deleteicon"></mat-icon>
        <span>Modify/Delete</span>
      </button>

      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button> 
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Admin Page</span>
</mat-toolbar>  -->
            
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark"> -->
  <!-- <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
    <span class="navbar-toggler-icon">
    </span></a>  -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" 
      aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span> </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarsExample02">
        <a class="navbar-brand" href="#">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3u9Ly8zfDeFkXwQR71AHZs5b9oQjXa1xKGamE8kQa4JBqscnJ" style="border-radius: 200%; width: 60px; height: 60px;" alt="Examen">
        </a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home 
            <span class="sr-only">(current)  
            </span>
            </a>
          </li> 
          &nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item"> <a class="nav-link" href="#">Contact</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Admin settings</a> </li>
      </ul>
      <form class="form-inline my-2 my-md-0"> </form>
  </div>
</nav> -->
<!-- <div id="wrapper" class="toggled"> -->

<!--sidenav-->

<!-- <nav>
  <div id="sidebar-wrapper" style="background-color: rgb(255, 255, 255);">
    <ul class="sidebar-nav">
      <label><h5>CATAGORIES</h5></label>
          <li><a routerLink="ques">Questions</a></li>
          <li><a routerLink="quest">Add Question</a></li>
          <li><a routerLink="edit">Edit/Delete Question</a></li> -->
          <!-- <li><a routerLink="question">Delete Questions</a></li>  -->
          <!-- <li><a routerLink="**"></a></li>  -->
          <!--<li><a routerLink="link">New Users</a></li>
          <li><a routerLink="link">Exam Schedule</a></li>
          <li><a routerLink="link">Upcoming Exams</a></li>
          <li data-toggle="collapse" data-target="#questions" class="collapsed">
              <a href="#"><i class="fa fa-globe fa-lg"></i>Exam Questions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><mat-icon svgIcon="arrowicon"></mat-icon></span></a>
            </li>  
            <ul class="sub-menu collapse" id="questions">
                <li><a routerLink="ques">Question List</a></li>
                <li><a routerLink="quest">Add Question</a></li>
                <li><a routerLink="edit">Edit/Delete Question</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#payment" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i>Payment Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span><mat-icon svgIcon="arrowicon"></mat-icon></span></a>
              </li>  
              <ul class="sub-menu collapse" id="payment">
                  <li><a routerLink="">Paid Users</a></li>
                  <li><a routerLink="">Non-Paid Users</a></li>
              </ul>
      </ul>
    </div>
</nav> -->
<!-- <div>
  <router-outlet></router-outlet>
</div>    -->

<!-- <nav>  navbar content here  --> 

  <!-- <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
         
 <!-- <div>
  <router-outlet></router-outlet>
</div>   -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
<div class="collapse navbar-collapse" id="navbarsExample02">
  <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3u9Ly8zfDeFkXwQR71AHZs5b9oQjXa1xKGamE8kQa4JBqscnJ" style="border-radius: 200%; width: 60px; height: 60px;" alt="Examen">
  </a>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active">Home 
      <span class="sr-only">(current)  
      </span>
      </a>
    </li> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item"> <a class="nav-link" href="#">Contact</a></li>
    <li class="nav-item"> <a class="nav-link" href="#">License</a> </li>
    
</ul>
<ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exam Question Settings  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="ques">List</a>
          <a class="dropdown-item" routerLink="quest">Add </a>
          <a class="dropdown-item" routerLink="edit">Edit/Delete</a>
          </div>
    </li>
</ul>
</div>
</nav>
<div>
  <router-outlet></router-outlet>
</div> 